.title {
    text-align: center;
}

.refreshButton {
    color: black;
    padding: auto;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.radiusInput {
    padding: auto;
    float: right;
}

.vehicleList {
    overflow: auto;
    width: 10%;
    float: left;
    height: 100vh;
}

.mapWrapper {
    margin-top: 1%;
    height: 100%;
    width: 90%;
    float: right;
}